.graph__btn {
  color: #fff;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  background-color: rgb(74, 199, 62);
  font-weight: 700;
}

.graph__btn:hover {
  color: #fff;
  background-color: rgb(8, 95, 0);
}

.graph__btn:focus {
  outline: 1px solid #000;
}

.graph__btn-first {
  margin: 15px;
}

.graph__btn--delete {
  background-color: rgb(199, 62, 62);
}

.graph__btn--delete:hover {
  background-color: rgb(102, 34, 34);
}

.graph__btn--delete:focus {
  outline: 1px solid #000;
}

.graph__btn--delete:disabled {
  background-color: rgb(199, 199, 199);
}

.graph__btn--check:disabled {
  background-color: rgb(199, 199, 199);
}
